
@{
    ViewBag.Title = "Error";
}

<main>
    <div class="text-center w-100 p-4 bg-primary">
        <span class="h2 text-light">失敗頁面</span>
    </div>
    <div class="row p-4">
        <div class="col-12 text-center p-1">@ViewBag.Message</div>
    </div>
</main>
